:host {
    display: flex;
    flex-flow: column;
    .grid-page-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        background: rgba(255, 255, 255, 0.15);
        position: relative;
        margin-top: 72px;
        flex: 1;
        overflow-y: auto;
        .grid-header {
            padding: 10px;
            display: flex;
            align-items: center;
            background: #eeeeeeb3;
            font-weight: bold;
            .grid-header-buttons { 
                margin-left: auto;
                button {
                    margin: 0 5px;
                    border-radius: 0;
                }
            }
        }
    }
    .block {
        .block-header {
            padding: 10px;
            display: flex;
            align-items: center;
            .collapse-btn {
                margin-left: auto;
                .btn:after {
                    font-family: "Glyphicons Halflings";
                    content: "\e114";
                    float: right;
                }
                .btn.collapsed:after {
                    content: "\e080";
                }
            }
        }
        .filter-content {
            display: flex;
            flex-wrap: wrap;
            .form-group {
                width: 33%;
                padding: 0 20px;
                box-sizing: border-box;
            }
        }
        .block-content {
            padding: 10px;
        }
        .block-footer {
            display: flex;
            align-items: center;
            padding: 10px;
            button {
                margin-left: auto;
            }
        }
    }
    .resize-box {
        background: pink;
        height: 100%;
        display: flex;
        flex-direction: column;
        .block-content {
            overflow : auto;
            flex: 1;
            background: rgba(0,0,0,.075);
            margin: 0 20px;
        }
    }

    button {
        border-radius: 0;
    }
    .bg-blue {
        background: gray;
    }
}